{{> navbar isAdmin=isAdmin }}
<div class="container my-2">
    {{#if user.email }}
    <div class="row">
        <div class="col-12">
            <h1>Bienvenido/a <i>{{ user.email }}</i></h1>
            <h4>Rol: <i>{{ user.role }}</i></h4>
        </div>
    </div>
    {{/if}}    
    <div class="row mb-3">
        <div class="col-12">
            <h2 class="text-light">Productos</h2>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
        {{#each products}}
            <div class="col">
                <div class="card h-100 pt-1">
                    <div id="product{{this.code}}" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            {{#each this.thumbnails}}
                            <div class="carousel-item {{#if @first }}active {{/if}}">
                                <img src="{{this}}" class="d-block w-100" alt="">
                            </div>
                            {{/each}}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#product{{this.code}}" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Anterior</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#product{{this.code}}" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Siguiente</span>
                        </button>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{this.title}}</h5>
                        <p class="card-text">{{this.description}}</p>
                        <p class="text-end m-0"><i>${{this.price}}</i></p>
                    </div>
                    <div class="card-footer text-center">                        
                        <span onclick="updateProductToCart('{{this._id}}', 'add')" class="btn btn-success">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus-fill" viewBox="0 0 16 16">
                                <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0z"/>
                            </svg>
                        </span>
                    </div>
                </div>
            </div>
        {{else}}
            <h3>Error</h3>
        {{/each}}
    </div>
    <div class="row">
        <div class="col-12 py-4">
            <nav aria-label="...">
                <ul class="pagination justify-content-center">
                    <li class="page-item {{#if pagination.hasPrevPage}}{{else}}disabled{{/if}}">
                        <a href="/products?page={{ pagination.prevPage }}&limit={{pagination.limit}}" class="page-link">Previo</a>
                    </li>
                    {{#if pagination.prevPage }}
                        <li class="page-item">
                            <a class="page-link" href="/products?page={{ pagination.prevPage }}&limit={{pagination.limit}}">{{ pagination.prevPage }}</a>
                        </li>
                    {{/if}}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="#">{{ pagination.page }}</a>
                    </li>
                    {{#if pagination.nextPage }}
                        <li class="page-item">
                            <a class="page-link" href="/products?page={{ pagination.nextPage }}&limit={{pagination.limit}}">{{ pagination.nextPage }}</a>
                        </li>
                    {{/if}}
                    <li class="page-item {{#if pagination.hasNextPage}}{{else}}disabled{{/if}}">
                        <a href="/products?page={{ pagination.nextPage }}&limit={{pagination.limit}}" class="page-link">Siguiente</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
<script>
    let cart = "{{ user.cart }}"

    function updateProductToCart(product,operation){
        console.log("Cart: " + cart + ' - Product: ' + product)
        fetch("http://localhost:8080/api/carts/" + cart + "/product/" + product, {
            method: "PUT",
            body: JSON.stringify({
                "quantity": 1,
                "operation": operation
            }),
            headers: {
                "Content-type": "application/json; charset=UTF-8"
            }
        })
        .then((response) => response.json())
        .then((json) => {
            Swal.fire({
                text: json.msg,
                icon: json.status,
                confirmButtonText: 'Aceptar'
            })
        });
    }
</script>
